<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4 aligning-content">
      <md-card>
        <md-card-header>
          <md-card-title class="text-center">Please Log in</md-card-title>
        </md-card-header>
        <md-card-content>
          <form [formGroup]="form">
            <md-input-container>
              <input mdInput formControlName="email" placeholder="Email" type="email" value="">
              <md-hint *ngIf="form.controls.email.touched && form.controls.email.invalid" class="text-red">Please enter valid email address</md-hint>
            </md-input-container>
            <md-input-container>
              <input mdInput formControlName="password" placeholder="Password" type="password" value="">
            </md-input-container>
          </form>
        </md-card-content>
        <md-card-actions>
          <div class="invalid-message">
            <md-hint *ngIf="invalidUser" class="text-red">Invalid username or password</md-hint>
          </div>
          <button md-raised-button class="btn-custom" (click)="logIn()">Log in</button>
        </md-card-actions>
      </md-card>
    </div>
  </div>
</div>
