<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4 aligning-content">
      <md-card>
        <md-card-header>
          <md-card-title class="text-center">Please Log in</md-card-title>
        </md-card-header>
        <md-card-content>
          <md-input-container>
            <input mdInput placeholder="Email" type="email" value="">
          </md-input-container>
          <md-input-container>
            <input mdInput placeholder="Password" type="password" value="">
          </md-input-container>
        </md-card-content>
        <md-card-actions>
          <button md-raised-button class="btn-custom">Log in</button>
        </md-card-actions>
      </md-card>
    </div>
  </div>
</div>