<div class="nav-menu">
  <ul class="nav-menu_list">
    <li>
      <a md-button class="nav-menu_link" routerLink="home">
        <md-icon>home</md-icon>
        <span>Home</span>
      </a>
    </li>
    <li>
      <a md-button class="nav-menu_link" routerLink="/">
        <md-icon>warning</md-icon>
        <span>Alerts</span>
      </a>
    </li>
    <li>
      <a md-button class="nav-menu_link">
        <md-icon>report</md-icon>
        <span>Reports</span>
      </a>
    </li>
    <li>
      <a md-button class="nav-menu_link">
        <md-icon>people</md-icon>
        <span>Staff</span>
      </a>
    </li>
  </ul>
</div>