.nav-menu {
    padding-top: 10px;
}
.nav-menu_list {
    list-style-type: none;
    padding-left: 0;
}
.nav-menu_link {
    width: 100%;
    text-align: left;
    padding-left: 20px;
    margin-top: 3px;
    text-decoration: none;
}
.nav-menu_link span {
    font-size: 20px;
    letter-spacing: 2px;
}
.nav-menu_link:focus, .nav-menu_link:hover{
    outline: none;
}
md-icon {
    font-size: 30px;
    height: 30px;
    width: 30px;
}