<div class="container">
  <h1>
    {{title}}
  </h1>


  <div>
    <md-input-container>
      <input mdInput placeholder="Favorite food" value="">
    </md-input-container>
  </div>

  <div>
    <md-input-container>
      <input mdInput [mdDatepicker]="picker" placeholder="Choose a date">
      <button mdSuffix [mdDatepickerToggle]="picker"></button>
    </md-input-container>
    <md-datepicker #picker></md-datepicker>
  </div>

  
  <button type="button" class="btn btn-primary">button</button>
  

  <div class="row">
    <div class="col-md-6">Test</div>
    <div class="col-md-6">Test2</div>
  </div>
</div>