/*md-sidenav-container {
    z-index: -1;
}*/
.mat-input-placeholder {
    font-weight: 300;
}
.text-red {
    color: #f44336;
}
.mat-checkbox-inner-container.mat-checkbox-inner-container {
    height: 15px;
    width: 15px;
}
.mat-checkbox-ripple.mat-checkbox-ripple {
    left: -10px;
    top: -10px;
    right: -10px;
    bottom: -10px;
}
.mat-checkbox-layout .mat-checkbox-label {
    font-size: 12px;
}
md-sidenav {
    min-width: 220px;
    background-color: #90a4ae;
    top: 64px;
    box-shadow: 6px 0px 6px 0 rgba(0,0,0,.1);
    height: calc(100vh - 64px);
}